<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="NOINDEX, NOFOLLOW"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<title>中小企業貸款專家，遠東貸款授信團隊</title>
<link rel="image_src" href="http://www.iwantmoney.com.tw/images/thumb.jpg">
<link rel="shortcut icon" href="http://www.iwantmoney.com.tw/images/favicon.ico"/>
<link rel="stylesheet" href="/css/reset.css"/>
<link rel="stylesheet" href="/css/mobile.css"/>

   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


<script src="/js/AnchorArt.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#ctrl').click(function(){
		wrapper_open();
	});	
	
	$('#aside a').click(function(){
		wrapper_back();
	});
});

function wrapper_open(){
	$('#wrapper').stop().animate({left:'38%'},'easeOutBack',function(){
		$(this).animate({
			opacity:'.5',
			filter:'opacity(alpha=50)'
		},750)
	});
	
	$('#top').stop().animate({left:'38%'},'easeOutBack');
	$(document).click(function(e){
		if(!$(e.target).is('#ctrl, #ctrl img')) {
			wrapper_back();
			$(document).unbind("click");
		}
		else if($('#wrapper').position().left>0){
			wrapper_back();
			$(document).unbind("click");
		}
	});
}

function wrapper_back(){
	$('#wrapper').stop().animate({left:'0%'},'easeOutBack');
	$('#wrapper').css({
		opacity:'1',
		filter:'opacity(alpha=100)'
	});
	$('#top').stop().animate({left:'0%'},'easeOutBack');
}
</script>

</head>

<body>
<div id="aside">
<ul>
	<li><a href="#content-2">團隊簡介</a></li>
	<li><a href="#content-3">服務流程</a></li>
	<li><a href="#content-4">融資專案</a></li>
	<li><a href="#content-5">實際案例</a></li>
	<li><a href="#form">聯絡方式</a></li>
</ul>
</div>
<div id="wrapper">
  <div id="header">
    <div id="top"> 
      <a style="display: none;" href="#" id="ctrl"><img src="/images/mb-01.png"></a>
      <h1>遠東貸款授信團隊</h1>
    </div>
    <div id="banner">
      <h2>幫中小企業貸款成功率<b>90%</b>以上<br>
        <b>全程免費服務</b> </h2>
      <img style="width: 100%;" src="/images/mb-05.png"> </div>
  </div>
  <div id="article">
    <div id="content-1" class="content">
      <h3>中小企業借錢有三難</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="33%" align="center" valign="middle" style="border-bottom:3px solid #FC6E51"><img width="82" src="/images/mb-06a.jpg"></td>
          <td width="34%" align="center" valign="middle" style="border-bottom:3px solid #48CFAD;border-left:2px solid #CAE8F3;border-right:2px solid #CAE8F3"><img width="104" src="/images/mb-06b.jpg"></td>
          <td width="33%" align="center" valign="middle" style="border-bottom:3px solid #AC92EC"><img width="82" src="/images/mb-06c.jpg"></td>
        </tr>
      </table>
      <p> 其實，合法貸款的管道很多<br>
        只要找對專家，借錢就能輕鬆又簡單<br>
        歡迎打免付費電話 <br>
        <a href="tel:0800-018-555">0800-018-555</a> </p>
    </div>
    <div id="content-2" class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="background:#F7F8FC"><img width="113" src="/images/mb-07.jpg">
            <p><b>貸款高手</b><br>
              全程免費服務</p></td>
          <td><ul>
              <li>資深銀行人士團隊</li>
              <li>熟知貸款多元管道</li>
              <li>人脈廣，經驗豐富</li>
              <li>幫您談判合理條件</li>
              <li>平均7日過件成功</li>
            </ul></td>
        </tr>
      </table>
    </div>
    <div id="content-3" class="content"> <img src="/images/mb-09.jpg">
      <h3>我們的服務流程</h3>
      <p> 請先來電預約<br>
        <img src="/images/mb-15.jpg"><br>
        授信襄理親自到府服務<br>
        <img src="/images/mb-15.jpg"><br>
        準確評估，提交審核<br>
        <img src="/images/mb-15.jpg"><br>
        協助順利簽約，對保撥款 </p>
    </div>
    <div id="content-4" class="content">
      <h3>中小企業融資專案</h3>
      <h4>融資專案 1</h4>
      <ul>
        <li>公司負責人或配偶</li>
        <li>具有汽車、貨車、營業車</li>
        <li>額度：權威價×1.5</li>
      </ul>
      <h4>融資專案 2</h4>
      <ul>
        <li>適合小型企業成長期</li>
        <li>額度：300萬～1,000萬</li>
      </ul>
      <h4>融資專案 3</h4>
      <ul>
        <li>適合網拍、微型企業</li>
        <li>額度：10萬～300萬</li>
      </ul>
      <br>
    </div>
    <div id="content-5" class="content"> <img src="/images/mb-11.jpg">
      <h3>實際案例</h3>
      <h4>信用紀錄不良，有法可解</h4>
      <p>王老闆過去信用卡曾經強停清償，銀行無法往來，逼不得已向當鋪抵押借款，後來找遠東貸款授信團隊做專業評估與建議，不但順利以汽車貸款，不用留車，利率合理，我們還建議王老闆申請銀行刷卡機培養銀行信用，半年之後，王老闆就有條件跟銀行申請企業貸款，讓公司穩健成長了。<br>
        <br>
      </p>
      <div id="call">
        <p>遠東貸款授信團隊 ‧ 免付費電話<br>
          <a href="tel:0800-018-555">0800-018-555</a></p>
      </div>
    </div>
    <div id="form">
      <h3>請線上留言</h3>
      <p>我們有專人為您服務</p>
      
      
  <%= form_for(@ticket, :remote => true) do |f| %>
      
      <h4><%= f.label :name, '姓名' %></h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #55C3E6">
        <tr>
          <td align="center" valign="middle" style="background:#F0F2F5;width:55px"><img src="/images/mb-12.jpg" style="margin:10px 0 0 0"></td>
          <td ><%= f.text_field :name, :class => 'text' %></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="width:55px">&nbsp;</td>
          <td>	          
              	<label><input name="ticket[gender]" type="checkbox" value="先生" class="checkbox">
                先生</label>
                <label>
                <input name="ticket[gender]" type="checkbox" value="女士" class="checkbox">
                女士</label>
                </td>	          
          </td>
        </tr>
      </table>
      <h4><%= f.label :phone, '電話' %></h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D4D6D9">
        <tr>
          <td align="center" valign="middle" style="background:#F0F2F5;width:55px"><img src="/images/mb-13.jpg" style="margin:10px 0 0 0"></td>
          <td><%= f.text_field :phone, :class => 'text' %></td>
        </tr>
      </table>
      <br>
      <h4><%= f.label :email, 'Email' %></h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D4D6D9">
        <tr>
          <td align="center" valign="middle" style="background:#F0F2F5;width:55px"><img src="/images/mb-14.jpg"></td>
          <td><%= f.text_field :email, :class => 'text' %></td>
        </tr>
      </table>
      <br>	                    
      
      <h4>貸款額度</h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D4D6D9;background:#fff;">
        <tr>
          <td style="width:10px">&nbsp;</td>
          <td><label><input name="ticket[quota]" type="radio" value="10萬~100萬" class="checkbox">
            100萬以下</label> </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D4D6D9;background:#fff;margin:5px 0">
        <tr>
          <td style="width:10px">&nbsp;</td>
          <td><label><input name="ticket[quota]" type="radio" value="100萬~300萬" class="checkbox">
            100萬～300萬</label></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D4D6D9;background:#fff;">
        <tr>
          <td style="width:10px">&nbsp;</td>
          <td><label><input name="ticket[quota]" type="radio" value="300萬以上" class="checkbox">
            300萬以上</label></td>
        </tr>
      </table>
      <input name="" id="ticketSubmit" onclick="$('body').css('cursor','wait'); $(this).hide(); return true;" type="submit" class="button" value="送出">
    
      <% end %>
  
  </div>
  </div>
</div>
</body>
</html>
